server:
  port: 6002

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/xydl_user
    username: root
    password: 941012
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
  application:
    name: xydl-user

wx:
  appId: "wx357d84bfbb36170b"
  appSecret: "94ecaf880d0c1ea590f8f7e90e4fde41"
  grantType: "authorization_code"
  requestUrl: "https://api.weixin.qq.com/sns/jscode2session"

mybatis:
  typeAliasesPackage: com.njit.xydl.users.entity
  mapperLocations: classpath:mapper/*.xml
  mapperScanPackage: com.njit.xydl.users.dao
  configLocation: classpath:mybatis-config.xml

#eureka:
#  client:
#    service-url:
#      defaultZone: http://eureka5001.com:5001/eureka/,http://eureka5002.com:5002/eureka/,http://eureka5003.com:5003/eureka/

eureka:
  client:
    service-url:
      defaultZone: http://localhost:5001/eureka/,http://localhost:5002/eureka/,http://localhost:5003/eureka/