<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njit.xydl.life.express.dao.ExpressMapper">
  <resultMap id="BaseResultMap" type="com.njit.xydl.life.common.entity.Express">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="publishor" jdbcType="VARCHAR" property="publishor" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pickup_code" jdbcType="VARCHAR" property="pickupCode" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="special_attention" jdbcType="VARCHAR" property="specialAttention" />
    <result column="order_deadline_date" jdbcType="TIMESTAMP" property="orderDeadlineDate" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="acceptor" jdbcType="VARCHAR" property="acceptor" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="accept_time" jdbcType="TIMESTAMP" property="acceptTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_number, publishor, size, description, name, phone, pickup_code, destination, 
    special_attention, order_deadline_date, price, acceptor, status, accept_time, create_time, 
    update_time, is_delete
  </sql>
  <select id="selectByOrderNumber" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from express_order
    where order_number = #{orderNumber} and is_delete = 0
  </select>
  <select id="selectExpressOrderByStatus" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from express_order
    where status = #{status} and is_delete = 0
  </select>
  <select id="selectExpressOrderByStatusAndPublishor" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from express_order
    where status = #{status} and and publishor = #{publishor} and is_delete = 0
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from express_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from express_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.njit.xydl.life.common.entity.Express">
    insert into express_order (id, order_number, publishor, 
      size, description, name, 
      phone, pickup_code, destination, 
      special_attention, order_deadline_date, 
      price, acceptor, status, 
      accept_time, create_time, update_time, 
      is_delete)
    values (#{id,jdbcType=BIGINT}, #{orderNumber,jdbcType=VARCHAR}, #{publishor,jdbcType=VARCHAR},
      #{size,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{pickupCode,jdbcType=VARCHAR}, #{destination,jdbcType=VARCHAR},
      #{specialAttention,jdbcType=VARCHAR}, #{orderDeadlineDate,jdbcType=TIMESTAMP},
      #{price,jdbcType=DOUBLE}, #{acceptor,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{acceptTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.njit.xydl.life.common.entity.Express">
    insert into express_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="publishor != null">
        publishor,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="pickupCode != null">
        pickup_code,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="specialAttention != null">
        special_attention,
      </if>
      <if test="orderDeadlineDate != null">
        order_deadline_date,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="acceptor != null">
        acceptor,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="acceptTime != null">
        accept_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="publishor != null">
        #{publishor,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pickupCode != null">
        #{pickupCode,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="specialAttention != null">
        #{specialAttention,jdbcType=VARCHAR},
      </if>
      <if test="orderDeadlineDate != null">
        #{orderDeadlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="acceptor != null">
        #{acceptor,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="acceptTime != null">
        #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.njit.xydl.life.common.entity.Express">
    update express_order
    <set>
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="publishor != null">
        publishor = #{publishor,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pickupCode != null">
        pickup_code = #{pickupCode,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="specialAttention != null">
        special_attention = #{specialAttention,jdbcType=VARCHAR},
      </if>
      <if test="orderDeadlineDate != null">
        order_deadline_date = #{orderDeadlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="acceptor != null">
        acceptor = #{acceptor,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="acceptTime != null">
        accept_time = #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njit.xydl.life.common.entity.Express">
    update express_order
      publishor = #{publishor,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      pickup_code = #{pickupCode,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      special_attention = #{specialAttention,jdbcType=VARCHAR},
      order_deadline_date = #{orderDeadlineDate,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DOUBLE},
      acceptor = #{acceptor,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      accept_time = #{acceptTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="selectSelective" parameterType="com.njit.xydl.life.common.entity.Express">
    select
    <include refid="Base_Column_List"/>
    from express_order
    where 1=1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="orderNumber != null">
      and order_number = #{orderNumber}
    </if>
    <if test="publishor != null">
      and publishor = #{publishor}
    </if>
    <if test="size != null">
      and `size` = #{size}
    </if>
    <if test="description != null">
      and description = #{description}
    </if>
    <if test="name != null">
      and `name` = #{name}
    </if>
    <if test="phone != null">
      and phone = #{phone}
    </if>
    <if test="pickupCode != null">
      and pickup_code = #{pickupCode}
    </if>
    <if test="destination != null">
      and destination = #{destination}
    </if>
    <if test="specialAttention != null">
      and special_attention = #{specialAttention}
    </if>
    <if test="orderDeadlineDate != null">
      and order_deadline_date = #{orderDeadlineDate}
    </if>
    <if test="price != null">
      and price = #{price}
    </if>
    <if test="acceptor != null">
      and acceptor = #{acceptor}
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
    <if test="acceptTime != null">
      and accept_time = #{acceptTime}
    </if>
    <if test="createTime != null">
      and create_time = {createTime}
    </if>
    <if test="updateTime != null">
      and update_time = #{updateTime}
    </if>
    <if test="isDelete != null">
      and is_delete = #{isDelete}
    </if>
  </insert>
</mapper>