<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njit.xydl.life.dao.ExpressOrderMapper">
  <resultMap id="BaseResultMap" type="com.njit.xydl.life.entity.ExpressOrder">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="kd_size" jdbcType="VARCHAR" property="kdSize" />
    <result column="kd_description" jdbcType="VARCHAR" property="kdDescription" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="BIGINT" property="phone" />
    <result column="pickup_code" jdbcType="VARCHAR" property="pickupCode" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="special_attention" jdbcType="VARCHAR" property="specialAttention" />
    <result column="order_deadline_date" jdbcType="DATE" property="orderDeadlineDate" />
    <result column="order_deadline_time" jdbcType="TIME" property="orderDeadlineTime" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del" jdbcType="BIT" property="del" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, username, kd_size, kd_description, name, phone, pickup_code, destination, special_attention, 
    order_deadline_date, order_deadline_time, price, create_time, update_time, del
  </sql>
  <select id="selectByExample" parameterType="com.njit.xydl.life.entity.ExpressOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from express_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from express_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from express_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.njit.xydl.life.entity.ExpressOrderExample">
    delete from express_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njit.xydl.life.entity.ExpressOrder">
    insert into express_order (id, username, kd_size, 
      kd_description, name, phone, 
      pickup_code, destination, special_attention, 
      order_deadline_date, order_deadline_time, price, 
      create_time, update_time, del
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{kdSize,jdbcType=VARCHAR}, 
      #{kdDescription,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=BIGINT}, 
      #{pickupCode,jdbcType=VARCHAR}, #{destination,jdbcType=VARCHAR}, #{specialAttention,jdbcType=VARCHAR}, 
      #{orderDeadlineDate,jdbcType=DATE}, #{orderDeadlineTime,jdbcType=TIME}, #{price,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{del,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.njit.xydl.life.entity.ExpressOrder">
    insert into express_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="kdSize != null">
        kd_size,
      </if>
      <if test="kdDescription != null">
        kd_description,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="pickupCode != null">
        pickup_code,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="specialAttention != null">
        special_attention,
      </if>
      <if test="orderDeadlineDate != null">
        order_deadline_date,
      </if>
      <if test="orderDeadlineTime != null">
        order_deadline_time,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="kdSize != null">
        #{kdSize,jdbcType=VARCHAR},
      </if>
      <if test="kdDescription != null">
        #{kdDescription,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=BIGINT},
      </if>
      <if test="pickupCode != null">
        #{pickupCode,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="specialAttention != null">
        #{specialAttention,jdbcType=VARCHAR},
      </if>
      <if test="orderDeadlineDate != null">
        #{orderDeadlineDate,jdbcType=DATE},
      </if>
      <if test="orderDeadlineTime != null">
        #{orderDeadlineTime,jdbcType=TIME},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        #{del,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njit.xydl.life.entity.ExpressOrderExample" resultType="java.lang.Long">
    select count(*) from express_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update express_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.kdSize != null">
        kd_size = #{record.kdSize,jdbcType=VARCHAR},
      </if>
      <if test="record.kdDescription != null">
        kd_description = #{record.kdDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=BIGINT},
      </if>
      <if test="record.pickupCode != null">
        pickup_code = #{record.pickupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.destination != null">
        destination = #{record.destination,jdbcType=VARCHAR},
      </if>
      <if test="record.specialAttention != null">
        special_attention = #{record.specialAttention,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDeadlineDate != null">
        order_deadline_date = #{record.orderDeadlineDate,jdbcType=DATE},
      </if>
      <if test="record.orderDeadlineTime != null">
        order_deadline_time = #{record.orderDeadlineTime,jdbcType=TIME},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.del != null">
        del = #{record.del,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update express_order
    set id = #{record.id,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      kd_size = #{record.kdSize,jdbcType=VARCHAR},
      kd_description = #{record.kdDescription,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=BIGINT},
      pickup_code = #{record.pickupCode,jdbcType=VARCHAR},
      destination = #{record.destination,jdbcType=VARCHAR},
      special_attention = #{record.specialAttention,jdbcType=VARCHAR},
      order_deadline_date = #{record.orderDeadlineDate,jdbcType=DATE},
      order_deadline_time = #{record.orderDeadlineTime,jdbcType=TIME},
      price = #{record.price,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      del = #{record.del,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njit.xydl.life.entity.ExpressOrder">
    update express_order
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="kdSize != null">
        kd_size = #{kdSize,jdbcType=VARCHAR},
      </if>
      <if test="kdDescription != null">
        kd_description = #{kdDescription,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=BIGINT},
      </if>
      <if test="pickupCode != null">
        pickup_code = #{pickupCode,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="specialAttention != null">
        special_attention = #{specialAttention,jdbcType=VARCHAR},
      </if>
      <if test="orderDeadlineDate != null">
        order_deadline_date = #{orderDeadlineDate,jdbcType=DATE},
      </if>
      <if test="orderDeadlineTime != null">
        order_deadline_time = #{orderDeadlineTime,jdbcType=TIME},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njit.xydl.life.entity.ExpressOrder">
    update express_order
    set username = #{username,jdbcType=VARCHAR},
      kd_size = #{kdSize,jdbcType=VARCHAR},
      kd_description = #{kdDescription,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=BIGINT},
      pickup_code = #{pickupCode,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      special_attention = #{specialAttention,jdbcType=VARCHAR},
      order_deadline_date = #{orderDeadlineDate,jdbcType=DATE},
      order_deadline_time = #{orderDeadlineTime,jdbcType=TIME},
      price = #{price,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del = #{del,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>